/*Estilos Generales*/
h2{
    text-align: center;
}
.titulo{
    font-size: 29.5px;
}
p{
    margin: 0 0 1.5em 0;
}
img{
    width: 100%;
    max-width: 100%;
    height: 350px;
}
.imagen-lateral{
    float: right;
    width: 50%;
    max-width: 400px;
    height: auto;
}
.mapa{
    width: 100%;
    border-radius: 20px;
}
.clima{
    width: 100%;
}
.descripcion-clima, .descripcion-mapa{
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    overflow-wrap: anywhere;
}
th{
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid "fff";
    color: #039;
}
td{
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
tr:hover td{
    background: #d0dafd;
    color: #339;
}
/*Estilos del contenido*/
.main-content{
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
}
.main-content header, .main-content .content, .main-content-1 header, .main-content-1 .content{
    padding: 40px;
}
.main-content a{
    overflow-wrap: break-word;
}